.footer__name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
  margin-top: 79px;
  margin-bottom: 0;
}

.footer__line {
  border-bottom: 1px solid #E8E8E8;
  width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
}

.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.footer__year {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A0A0A0;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.footer__info {
  margin-top: 30px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__name {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__line {
    margin-top: 20px;
    width: calc(100% - 60px);
  }

  .footer__info {
    display: flex;
    flex-direction: row-reverse;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 20px;
  }

  .footer__nav {
    flex-direction: row;
  }

  .footer__link {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 16px;
    margin-left: 20px;
  }

  .footer__year {
    margin-top: 0;
    font-size: 13px;
    line-height: 16px;
    color: black;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__line {
    width: calc(100% - 140px);
  }

  .footer__info {
    width: calc(100% - 140px);
  }
}
