.search {
  display: flex;
  border: 1.5px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 50px;
  width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.search:hover {
  cursor: text;
}

.search__area {
  border: none;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  color: #A0A0A0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 16px;
  width: 80%;
}

.search-focus {
  border: 1.5px solid black;
}

.search__input {
  background-image: url("../../../images/find.svg");
  padding: 0;
  border: none;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: unset;
  margin-left: auto;
  margin-top: 7px;
  margin-right: 7px;
}

.search__input:focus {
  width: 34px;
  height: 34px;
  background-image: url("../../../images/find_f.svg");
}

.search__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search__error {
  display: block;
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  color: red;
  margin-top: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .search {
    width: calc(100% - 60px);
  }

  .search__area{
    font-size: 14px;
  }

  .search__error {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1280px) {
  .search {
    width: 80%;
    margin-top: 0px;
  }
}
